<div class="col-4">
    <div class="card">
        <div class="card-header" style="background-color: #192131; color: rgb(245, 236, 236);">
        <h3><strong>{name}<br>Manager</strong></h3>
        </div>
        <div class="card-body">
            <div class="row info-field" style="border-bottom: 1px dotted rgb(7, 6, 6);">
                ID: {id}
            </div>
            <div class="row info-field" style="border-bottom: 1px dotted rgb(7, 6, 6);">
                Email: {email}
            </div>
            <div class="row info-field"  style="border-bottom: 1px dotted rgb(7, 6, 6);">
                Office Number: {officenumber}
            </div>
        </div>
    </div>
    </div>